@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Denim;
    font-weight: 300;
    src: url(/fonts/Light/Denim-Light.woff2) format('woff2');
    src: url(/fonts/Light/Denim-Light.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 400;
    src: url(/fonts/Regular/Denim-Regular.woff2) format('woff2');
    src: url(/fonts/Regular/Denim-Regular.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 500;
    src: url(/fonts/Medium/Denim-Medium.woff2) format('woff2');
    src: url(/fonts/Medium/Denim-Medium.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 600;
    src: url(/fonts/SemiBold/Denim-SemiBold.woff2) format('woff2');
    src: url(/fonts/SemiBold/Denim-SemiBold.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 700;
    src: url(/fonts/Bold/Denim-Bold.woff2) format('woff2');
    src: url(/fonts/Bold/Denim-Bold.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 900;
    src: url(/fonts/Heavy/Denim-Heavy.woff2) format('woff2');
    src: url(/fonts/Heavy/Denim-Heavy.woff) format('woff');
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Denim', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    width: 100%;
  }
}

/* Font sizes, paddings and margins are calculated using CSS clamp function.
   You can read more about fluid font sizes for example here: https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/
   The exact values were computed manually with help of google sheets (it should be uploaded on our drive)
   and checked using tool: https://websemantics.uk/tools/responsive-font-calculator/.
   There is also a tailwind plugin:https://github.com/davidhellmann/tailwindcss-fluid-type#readme
   and a blog how to calculate fluid sizes in tailwind: https://davidhellmann.com/blog/development/tailwindcss-fluid-typography-with-css-clamp
   but after the whole research and try and error process I just ended up with this manually calculated values.
   */

:root,
::after,
::before {
  --sidepanel-width: 100%;
  --ticket-sidebar-width: 100%;

  /* 0.0417rem(0.6672px) at 80rem(1280px) increasing to 0.0833rem(1.3328px) at 160rem(2560px) */
  --size-factor: clamp(0.0417rem, calc(0.0417rem + ((1vw - 0.8rem) * 0.0521)), 0.0833rem);
  /* 18.75rem(300px) at <=80rem(1280px) increasing to 37.5rem(600px) at 160rem(2560px) */
  --chessboard-height: clamp(18.75rem, calc(18.75rem + ((1vw - 0.8rem) * 23.4375)), 37.5rem);

  /* 0.875rem(14px) at 23.375rem(374px) increasing to 1.8333rem(29.3328px) at 80rem(1280px) */
  --font-size-sm: clamp(0.875rem, calc(0.875rem + ((1vw - 0.23375rem) * 0.0736)), 1.8333rem);
  /* 0.9375rem(15px) at 23.375rem(374px) increasing to 2rem(32px) at 80rem(1280px) */
  --font-size-md: clamp(0.9375rem, calc(0.9375rem + ((1vw - 0.23375rem) * 0.1104)), 2rem);
  /* 1rem(16px) at 23.375rem(374px) increasing to 2.5rem(40px) at 80rem(1280px) */
  --font-size-lg: clamp(1rem, calc(1rem + ((1vw - 0.23375rem) * 0.4415)), 2.5rem);
  /* 1.25rem(20px) at 23.375rem(374px) increasing to 3.6667rem(58.6672px) at 80rem(1280px) */
  --font-size-xl: clamp(1.25rem, calc(1.25rem + ((1vw - 0.23375rem) * 1.0302)), 3.6667rem);
  /* 1.5rem(24px) at 23.375rem(374px) increasing to 4.1667rem(66.6672px) at 80rem(1280px) */
  --font-size-xxl: clamp(1.5rem, calc(1.5rem + ((1vw - 0.23375rem) * 1.0302)), 4.1667rem);
  /* 0.875rem(14px) at 23.375rem(374px) increasing to 1.8333rem(29.3328px) at 80rem(1280px) */
  --font-size-btn: clamp(0.875rem, calc(0.875rem + ((1vw - 0.23375rem) * 0.0736)), 1.8333rem);
  /* 0.875rem(14px) at 23.375rem(374px) increasing to 1.8333rem(29.3328px) at 80rem(1280px) */
  --font-size-nav: clamp(0.875rem, calc(0.875rem + ((1vw - 0.23375rem) * 0.0736)), 1.8333rem);

  --padding-x-sm: 0.75rem;
  /* 1.125rem(18px) at 23.375rem(374px) increasing to 3.3333rem(53.3328px) at 80rem(1280px) */
  --padding-x-md: clamp(1.125rem, calc(1.125rem + ((1vw - 0.23375rem) * 0.9566)), 3.3333rem);
  /* 2rem(32px) at 23.375rem(374px) increasing to 7.8333rem(125.3328px) at 80rem(1280px) */
  --padding-x-lg: clamp(2rem, calc(2rem + ((1vw - 0.23375rem) * 3.3848)), 7.8333rem);
  /* 0.75rem(12px) at 23.375rem(374px) increasing to 1.5833rem(25.3328px) at 80rem(1280px) */
  --padding-y-sm: clamp(0.75rem, calc(0.75rem + ((1vw - 0.23375rem) * 0.0736)), 1.5833rem);
  /* 1.5rem(24px) at 23.375rem(374px) increasing to 3.1667rem(50.6672px) at 80rem(1280px) */
  --padding-y-md: clamp(1.5rem, calc(1.5rem + ((1vw - 0.23375rem) * 0.1472)), 3.1667rem);
  /* 3.5rem(56px) at 23.375rem(374px) increasing to 7.5rem(120px) at 80rem(1280px) */
  --padding-y-lg: clamp(3.5rem, calc(3.5rem + ((1vw - 0.23375rem) * 0.4415)), 7.5rem);
  /* 5.625rem(90px) at 23.375rem(374px) increasing to 13.3333rem(213.3328px) at 80rem(1280px) */
  --padding-y-xl: clamp(5.625rem, calc(5.625rem + ((1vw - 0.23375rem) * 1.8396)), 13.3333rem);

  /* 1.9375rem(31px) at 23.375rem(374px) increasing to 5.6667rem(90.6672px) at 80rem(1280px) */
  --logo-height: clamp(1.9375rem, calc(1.9375rem + ((1vw - 0.23375rem) * 1.582)), 5.6667rem);
  /* 5.75rem(92px) at 23.375rem(374px) increasing to 17rem(272px) at 80rem(1280px) */
  --logo-width: clamp(5.75rem, calc(5.75rem + ((1vw - 0.23375rem) * 4.8565)), 17rem);
  /* 4.375rem(70px) at 23.375rem(374px) increasing to 10rem(160px) at 80rem(1280px) */
  --nav-height: clamp(4.375rem, calc(4.375rem + ((1vw - 0.23375rem) * 1.1038)), 10rem);
  /* 13.75rem(220px) at 23.375rem(374px) increasing to 38.3333rem(613.3328px) at 80rem(1280px) */
  --ticket-height: clamp(13.75rem, calc(13.75rem + ((1vw - 0.23375rem) * 9.565)), 38.3333rem);

  --line-height-xxl: calc(var(--font-size-xxl) * 1.08);
  --line-height-xl: calc(var(--font-size-xl) * 1.1);
  --line-height-lg: calc(var(--font-size-lg) * 1.1333);
  --line-height-md: calc(var(--font-size-md) * 1.1667);
  --line-height-sm: calc(var(--font-size-sm) * 1.2);
  --line-height-nav: calc(var(--font-size-nav) * 1.3636);
  --line-height-btn: calc(var(--font-size-btn) * 1.3636);
}

@screen lg {
  :root {
    /* The sidepanel works from lg screen size higher so it needs to be defined here */
    /* 22.3333rem(357.3328px) at 64rem(1024px) increasing to 55.8333rem(893.3328px) at 160rem(2560px) */
    --sidepanel-width: clamp(22.3333rem, calc(22.3333rem + ((1vw - 0.8rem) * 41.875)), 55.8333rem);
  }
}

@screen xl {
  :root {
    /* 0.9167rem(14.6672px) at 80rem(1280px) increasing to 1.8333rem(29.3328px) at 160rem(2560px) */
    --font-size-sm: clamp(0.9167rem, calc(0.9167rem + ((1vw - 0.8rem) * 1.1458)), 1.8333rem);
    /* 1rem(16px) at 80rem(1280px) increasing to 2rem(32px) at 160rem(2560px) */
    --font-size-md: clamp(1rem, calc(1rem + ((1vw - 0.8rem) * 1.25)), 2rem);
    /* 1.25rem(20px) at 80rem(1280px) increasing to 2.5rem(40px) at 160rem(2560px) */
    --font-size-lg: clamp(1.25rem, calc(1.25rem + ((1vw - 0.8rem) * 1.5625)), 2.5rem);
    /* 1.8333rem(29.3328px) at 80rem(1280px) increasing to 3.6667rem(58.6672px) at 160rem(2560px) */
    --font-size-xl: clamp(1.8333rem, calc(1.8333rem + ((1vw - 0.8rem) * 2.2917)), 3.6667rem);
    /* 2.0833rem(33.3328px) at 80rem(1280px) increasing to 4.1667rem(66.6672px) at 160rem(2560px) */
    --font-size-xxl: clamp(2.0833rem, calc(2.0833rem + ((1vw - 0.8rem) * 2.6042)), 4.1667rem);
    /* 0.9167rem(14.6672px) at 80rem(1280px) increasing to 1.8333rem(29.3328px) at 160rem(2560px) */
    --font-size-btn: clamp(0.9167rem, calc(0.9167rem + ((1vw - 0.8rem) * 1.1458)), 1.8333rem);
    /* 0.9167rem(14.6672px) at 80rem(1280px) increasing to 1.8333rem(29.3328px) at 160rem(2560px) */
    --font-size-nav: clamp(0.9167rem, calc(0.9167rem + ((1vw - 0.8rem) * 1.1458)), 1.8333rem);

    /* 0.75rem(12px) at 80rem(1280px) increasing to 1.5rem(24px) at 160rem(2560px) */
    --padding-x-sm: clamp(0.75rem, calc(0.75rem + ((1vw - 0.8rem) * 0.9375)), 1.5rem);
    /* 1.6667rem(26.6672px) at 80rem(1280px) increasing to 3.3333rem(53.3328px) at 160rem(2560px) */
    --padding-x-md: clamp(1.6667rem, calc(1.6667rem + ((1vw - 0.8rem) * 2.0833)), 3.3333rem);
    /* 3.9167rem(62.6672px) at 80rem(1280px) increasing to 7.8333rem(125.3328px) at 160rem(2560px) */
    --padding-x-lg: clamp(3.9167rem, calc(3.9167rem + ((1vw - 0.8rem) * 4.8958)), 7.8333rem);
    /* 0.7917rem(12.6672px) at 80rem(1280px) increasing to 1.5833rem(25.3328px) at 160rem(2560px) */
    --padding-y-sm: clamp(0.7917rem, calc(0.7917rem + ((1vw - 0.8rem) * 0.9896)), 1.5833rem);
    /* 1.5833rem(25.3328px) at 80rem(1280px) increasing to 3.1667rem(50.6672px) at 160rem(2560px) */
    --padding-y-md: clamp(1.5833rem, calc(1.5833rem + ((1vw - 0.8rem) * 1.9792)), 3.1667rem);
    /* 3.75rem(60px) at 80rem(1280px) increasing to 7.5rem(120px) at 160rem(2560px) */
    --padding-y-lg: clamp(3.75rem, calc(3.75rem + ((1vw - 0.8rem) * 4.6875)), 7.5rem);
    /* 6.6667rem(106.6672px) at 80rem(1280px) increasing to 13.3333rem(213.3328px) at 160rem(2560px) */
    --padding-y-xl: clamp(6.6667rem, calc(6.6667rem + ((1vw - 0.8rem) * 8.3333)), 13.3333rem);

    /* 2.8333rem(45.3328px) at 80rem(1280px) increasing to 5.6667rem(90.6672px) at 160rem(2560px) */
    --logo-height: clamp(2.8333rem, calc(2.8333rem + ((1vw - 0.8rem) * 3.5417)), 5.6667rem);
    /* 8.5rem(136px) at 80rem(1280px) increasing to 17rem(272px) at 160rem(2560px) */
    --logo-width: clamp(8.5rem, calc(8.5rem + ((1vw - 0.8rem) * 10.625)), 17rem);
    /* 5rem(80px) at 80rem(1280px) increasing to 10rem(160px) at 160rem(2560px) */
    --nav-height: clamp(5rem, calc(5rem + ((1vw - 0.8rem) * 6.25)), 10rem);
    /* 19.1667rem(306.6672px) at 80rem(1280px) increasing to 38.3333rem(613.3328px) at 160rem(2560px) */
    --ticket-height: clamp(19.1667rem, calc(19.1667rem + ((1vw - 0.8rem) * 23.9583)), 38.3333rem);
    /* 19.7917rem(316.6672px) at 80rem(1280px) increasing to 39.5833rem(633.3328px) at 160rem(2560px) */
    --ticket-sidebar-width: clamp(
      19.7917rem,
      calc(19.7917rem + ((1vw - 0.8rem) * 24.7396)),
      39.5833rem
    );
  }
}
