@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Denim;
    font-weight: 300;
    src: url(/fonts/Light/Denim-Light.woff2) format('woff2');
    src: url(/fonts/Light/Denim-Light.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 400;
    src: url(/fonts/Regular/Denim-Regular.woff2) format('woff2');
    src: url(/fonts/Regular/Denim-Regular.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 500;
    src: url(/fonts/Medium/Denim-Medium.woff2) format('woff2');
    src: url(/fonts/Medium/Denim-Medium.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 600;
    src: url(/fonts/SemiBold/Denim-SemiBold.woff2) format('woff2');
    src: url(/fonts/SemiBold/Denim-SemiBold.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 700;
    src: url(/fonts/Bold/Denim-Bold.woff2) format('woff2');
    src: url(/fonts/Bold/Denim-Bold.woff) format('woff');
  }
  @font-face {
    font-family: Denim;
    font-weight: 900;
    src: url(/fonts/Heavy/Denim-Heavy.woff2) format('woff2');
    src: url(/fonts/Heavy/Denim-Heavy.woff) format('woff');
  }
}

:root,
::after,
::before {
  scroll-behavior: smooth;
  width: 100%;

  --sidepanel-width: 100%;
  --ticket-sidebar-width: 100%;

  --font-size-xxl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-lg: 1rem;
  --font-size-md: 0.9375rem;
  --font-size-sm: 0.6875rem;
  --font-size-nav: 0.8125rem;
  --font-size-btn: 0.8125rem;

  --line-height-xxl: 1.625rem;
  --line-height-xl: 1.375rem;
  --line-height-lg: 1.25rem;
  --line-height-md: 1.1875rem;
  --line-height-sm: 0.875rem;
  --line-height-nav: 1rem;
  --line-height-btn: 1rem;

  --padding-x-sm: 14px;
  --padding-x-md: 18px;
  --padding-x-lg: 32px;

  --padding-y-sm: 20px;
  --padding-y-md: 32px;
  --padding-y-lg: 56px;
  --padding-y-xl: 90px;

  --height-nav: 67px;
  --logo-height: 31px;
  --logo-width: 92px;
  --height-ticket: 220px;

  --icon-size-factor: 0.6;
}

@media (min-width: 640px) {
  :root {
    --sidepanel-width: 100%;
    --ticket-sidebar-width: 100%;

    --font-size-xxl: 1.9375rem;
    --font-size-xl: 1.625rem;
    --font-size-lg: 1.3125rem;
    --font-size-md: 0.875rem;
    --font-size-sm: 0.75rem;
    --font-size-nav: 0.8125rem;
    --font-size-btn: 0.8125rem;

    --line-height-xxl: 2.25rem;
    --line-height-xl: 1.75rem;
    --line-height-lg: 1.4375rem;
    --line-height-md: 1.125rem;
    --line-height-sm: 1.125rem;
    --line-height-nav: 0.9375rem;
    --line-height-btn: 0.9375rem;

    --padding-x-sm: 14px;
    --padding-x-md: 30px;
    --padding-x-lg: 62px;

    --padding-y-sm: 20px;
    --padding-y-md: 32px;
    --padding-y-lg: 56px;
    --padding-y-xl: 90px;

    --height-nav: 80px;
    --logo-height: 45px;
    --logo-width: 134px;
    --height-ticket: 260px;

    --icon-size-factor: 0.75;
  }
}

@media (min-width: 1024px) {
  :root {
    --sidepanel-width: min(40vw, 448px);
    --ticket-sidebar-width: min(400px);

    --font-size-xxl: 1.9375rem;
    --font-size-xl: 1.625rem;
    --font-size-lg: 1.3125rem;
    --font-size-md: 0.875rem;
    --font-size-sm: 0.75rem;
    --font-size-nav: 0.8125rem;
    --font-size-btn: 0.8125rem;

    --line-height-xxl: 2.25rem;
    --line-height-xl: 1.75rem;
    --line-height-lg: 1.4375rem;
    --line-height-md: 1.125rem;
    --line-height-sm: 1.125rem;
    --line-height-nav: 0.9375rem;
    --line-height-btn: 0.9375rem;

    --padding-x-sm: 14px;
    --padding-x-md: 30px;
    --padding-x-lg: 62px;

    --padding-y-sm: 13px;
    --padding-y-md: 26px;
    --padding-y-lg: 60px;
    --padding-y-xl: 108px;

    --height-nav: 80px;
    --logo-height: 45px;
    --logo-width: 134px;
    --height-ticket: 360px;

    --icon-size-factor: 0.62;
  }
}

@media (min-width: 1280px) {
  :root {
    --sidepanel-width: min(40vw, 536px);
    --ticket-sidebar-width: min(400px);

    --font-size-xxl: 2.375rem;
    --font-size-xl: 1.9375rem;
    --font-size-lg: 1.625rem;
    --font-size-md: 1.0625rem;
    --font-size-sm: 0.875rem;
    --font-size-nav: 1rem;
    --font-size-btn: 1rem;

    --line-height-xxl: 2.75rem;
    --line-height-xl: 2.125rem;
    --line-height-lg: 1.8125rem;
    --line-height-md: 1.3125rem;
    --line-height-sm: 1.3125rem;
    --line-height-nav: 1.0625rem;
    --line-height-btn: 1.0625rem;

    --padding-x-sm: 15px;
    --padding-x-md: 36px;
    --padding-x-lg: 75px;

    --padding-y-sm: 15px;
    --padding-y-md: 31px;
    --padding-y-lg: 72px;
    --padding-y-xl: 130px;

    --height-nav: 96px;
    --logo-height: 54px;
    --logo-width: 161px;
    --height-ticket: 400px;

    --icon-size-factor: 0.76;
  }
}

@media (min-width: 1536px) {
  :root {
    --sidepanel-width: min(40vw, 670px);
    --ticket-sidebar-width: min(400px);

    --font-size-xxl: 3.125rem;
    --font-size-xl: 2.5rem;
    --font-size-lg: 1.875rem;
    --font-size-md: 1.5rem;
    --font-size-sm: 1.25rem;
    --font-size-nav: 1.375rem;
    --font-size-btn: 1.375rem;

    --line-height-xxl: 3.375rem;
    --line-height-xl: 2.75rem;
    --line-height-lg: 2.125rem;
    --line-height-md: 1.75rem;
    --line-height-sm: 1.5rem;
    --line-height-nav: 1.875rem;
    --line-height-btn: 1.875rem;

    --padding-x-sm: 18px;
    --padding-x-md: 40px;
    --padding-x-lg: 94px;

    --padding-y-sm: 19px;
    --padding-y-md: 38px;
    --padding-y-lg: 90px;
    --padding-y-xl: 160px;

    --height-nav: 120px;
    --logo-height: 68px;
    --logo-width: 204px;
    --height-ticket: 460px;

    --icon-size-factor: 1;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Denim', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
